<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CR_View</title>
</head>
<body>
    <center>
        <h3>Change Request Form CR #{{data.id}}</h3>
        <br>
        <br>
        <h4>User Name: {{data.username}}</h4><br><br>
        <h4>Title: {{data.title}}</h4><br>
        <h4>Summary</h4><br>
        <p>{{data.summary}}</p><br><br>
        <h4>Status: {{data.status}}</h4><br>
        <h4>Date: {{data.created_at}}</h4><br><br>
        <a href="/" type="button">Home</a>
    </center>
    
</body>
</html>


